@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

body {
  background: #f9f9f9;
  color: #161616;
  /* font-family: "Prompt", sans-serif; */
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  /* width: 100%; */
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

/*home*/
.homebody {
  display: flex;
  align-items: center;
}

.grid-con {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 200px);

} 

.grid-item-1 {
  grid-column: 1/4;
  grid-row: 1/4;
}

.grid-item-2 {
  display: grid;
  grid-template-rows: (2,250px);
  grid-column: 4/6;
  grid-row: 1/4;
}

.grid-con img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-item-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.grid-item-info p {
  margin: 0.5rem 0rem;
  font-weight: lighter;
}

.grid-item-info h2 {
  color: #088f8f;
}

.grid-button {
  display: flex;
  justify-content: center;
  flex-direction: row;
  
}

.left {
  width: 50%;

  height: 695px;
  display: flex;
  float: left;
  /* padding-left: 20px; */
  /* background: #088f8f; */
  align-items: center;
  justify-content: center;
}

.content {
  width: 50%;
  height: 695px;
  /* height: 90%; */
  float: right;
}

.homebtn {
  align-items: center;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid #161616;
  background: #f9f9f9;
  margin: 20px 30px 20px 30px;
  padding: 5px 0px 5px 0px;
  font-size: 15px;
  width: 150px;
  height: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.homebtn:hover {
  align-items: center;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  color: #f9f9f9;
  border: 2px solid #088f8f;
  background: #088f8f;
  margin: 20px 30px 20px 30px;
  padding: 5px 0px 5px 0px;
  font-size: 15px;
  width: 200px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*header*/
.header {
  margin-top: 0px;
  font-size: 19px;
  text-align: right;
  background: #ffffff;
  border-bottom: 2px solid #e8e8e8;
  margin: 0;
  padding: 10px 20px 10px 10px;
}

.headertxt {
  font-size: 19px;
  color: #088f8f;
}

/*lang*/
.lang {
  display: flex;
  justify-content: right;
}

.boxborder {
  display: flex;
  /* align-items: center; */
  float: right;
  margin: 5px 10px 5px 0px;
  /* width: 100px;
  height: 25px; */
  border: 2px solid #088f8f;
}

.langbtn {
  align-items: center;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  color: #088f8f;
  padding: 5px 0px 5px 0px;
  font-size: 15px;
  width: 40px;
}

.langbtn-active {
  align-items: center;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  padding: 5px 0px 5px 0px;
  background-color: #088f8f;
  font-size: 15px;
  width: 40px;
}

/* Step */
.menu {
  display: flex;
  justify-content: center;
}

.step {
  display: flex;
  align-items: center;
  padding: 20px 0px 20px 0px;
}

.steptxt {
  text-align: center;
  padding-top: 10px;
  font-size: 15px;
  color: #161616;
}

.circle {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  /* background: #b9b9b9; */
  border: 3.5px solid #161616;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 40px;
  color: #ffffff;
}

.circle-now {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  /* background: #b9b9b9; */
  border: 3.5px solid #088f8f;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 40px;
  color: #ffffff;
}

.circle-suss {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: #088f8f;
  border: 3.5px solid #088f8f;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 40px;
  color: #ffffff;
}

.circle-error {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  /* background: #f14647; */
  border: 3.5px solid #f14647;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 40px;
  color: #ffffff;
}

.line {
  width: 250px;
  height: 0px;
  border: 2px solid #161616;
}

.line-suss {
  width: 250px;
  height: 0px;
  border: 2px solid #088f8f;
}

.line-pad {
  padding: 0px 10px 0px 10px;
}

/* Upload page */
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}

.borderout {
  width: 900px;
  height: 530px;
  /* border: 3px solid #161616; */
  border-radius: 10px;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background: #ffffff;
  /* box-shadow: 3px 3px 3px #888888; */
  text-align: center;
}

.borderin {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 780px;
  height: 330px;
  border: 4px dashed #161616;
  border-radius: 10px;
  font-size: 30px;
}

.csvpic {
  margin: 20px 20px 20px 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.uploadbtn {
  border: 3px solid #161616;
  border-radius: 15px;
  align-items: center;
  text-align: center;
  font-size: 19px;
  padding: 6px 30px 6px 30px;
  margin: 20px 0px 0px 555px;
  float: right;
  background-color: #ffffff;
}

.uploadbtn:hover {
  background-color: #088f8f;
  color: white;
  border: 3px solid #ffffff;
}

.hbody {
  padding: 20px 0px 20px 0px;
  font-size: 30px;
}

.hide {
  display: none;
}

.file_upload {
  color: #088f8f;
}

/* Processing page*/
.spinlayout {
  display: flex;
  margin: auto;
  vertical-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 180px;
}

.loader {
  justify-content: center;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #088f8f;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  text-align: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Process error page */
.trybtn {
  font-size: 20px;
  border: 3px solid #088f8f;
  color: #088f8f;
  border-radius: 15px;
  padding: 5px 15px 5px 15px;
  margin: 5px 0px 5px 0px;
  cursor: pointer;
}

.trybtn:hover {
  background-color: #088f8f;
  color: white;
  border: 3px solid #088f8f;
}

/* Result page */
/* .tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
} */

.selectrw {
  overflow: hidden;
  /* padding: 5px 0px 5px 0px; */
  border: 2px solid #088f8f;
  border-radius: 20px;
  margin: 10px 0px 10px 0px;
}

.selctbtn {
  color: #088f8f;
  font-size: 20px;
  padding: 5px 8px 5px 8px;
  border-radius: 20px;
  background-color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}

.selctbtn-active {
  color: #ffffff;
  font-size: 20px;
  padding: 5px 8px 5px 8px;
  border-style: hidden;
  border-radius: 18px;
  background-color: #088f8f;
}

.tablebd {
  border: 1px solid #e8e8e8;
  width: 860px;
  height: 425px;
  overflow: auto;
}

table {
  width: 100%;
}

thead tr th {
  position: sticky;
  top: 0;
}

table {
  border-collapse: collapse;
}

th {
  padding: 12px;
  border-bottom: 2px solid #e8e8e8;
  background: #ffffff;
  color: #088f8f;
  box-shadow: 0px 0px 0 2px #e8e8e8;
  text-align: center;
}

/* Basic Demo styling */

table td {
  text-align: center;
  color: #161616;
  padding: 8px;
}
tbody tr {
  border-bottom: 1px solid #e8e8e8;
}
thead {
  font-weight: 500;
  color: #161616;
}
tbody tr:hover {
  background: #daf3ff;
}

.dlbtn {
  color: #088f8f;
  font-size: 17px;
  padding: 5px 8px 5px 8px;
  margin: 5px 0px 0px 0px;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
}

.detailsBox {
  width: 400px;
  height: 100px;
  z-index: 9px;
  margin-top: 20px;
  border: 1px solid #161616;
  background: #ffffff;
}
