<html>
  <head>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="header">
      <a href="/" style="text-decoration: none">
        <div class="headertxt">
          LMS Peer Review Checker
          <svg
            width="23"
            height="23"
            viewBox="0 0 23 23"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16.6735 3.53357C12.2737 0.676341 6.39079 1.9268 3.53356 6.32654C0.676341 10.7263 1.9268 16.6092 6.32654 19.4664C7.99732 20.5515 9.88198 21.0441 11.7336 20.9969C14.758 20.9198 17.6942 19.4024 19.4664 16.6735C21.3395 13.7892 21.475 11.025 20.525 8.175"
              stroke="#088f8f"
              stroke-width="2.2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M6.75 10.7868L10.3121 14.3489L19.811 4.84998"
              stroke="#088f8f"
              stroke-width="2.2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </a>
    </div>
    <!-- <div class="homebody"> -->
    <!-- <div class="left">
      <img src="{{url_for('static', filename='2456037.png')}}" width="700px" />
    </div> -->
    <!-- </div> -->
    <!-- <div class="content">
      <div style="text-align: center">
        <div>
          <span style="font-size: 30px; color: #088f8f"
            >LMS PEER REVIEW CHECKER</span
          >
        </div>
        <div style="padding: 20px 10px 20px 10px">
          <span style="font-size: 17px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font: 1em sans-serif; color: #161616"
            >A system is designed for analyzing irregular scores given by three reviewers. Each reviewer can give a score within the range of 0-10 points. The system has two functions. The first function is to upload a CSV file that contains the following attributes: "Name, Assignment, Name of reviewer 1, score 1, Name of reviewer 2, score 2, Name of reviewer 3 and score 3." The data type for each attribute should only be "String" for name and "int" for score and assignment.

            The second function of the system involves pulling data from Mango API. To access this function, you will need to provide a course ID, assignment ID, rubric ID, and professor's token.</span
          >
        </div>
        <div style="display: flex; justify-content: center">
          <button class="homebtn" onclick="window.location.href='/upload'">
            Upload File .csv
          </button>
          <button class="homebtn" onclick="window.location.href='/api'">
            Mango API
          </button>
        </div>
      </div>
    </div> -->

    <div class="grid-con">
      <div class="grid-item-1">
        <img src="{{url_for('static', filename='2456037.png')}}" width="700px" />
      </div>
      <div class="grid-item-2">
        <div class="grid-item-info">
          <h2>LMS PEERREVIEW CHECKER</h2>
          <p>A system is designed for analyzing irregular scores given by three reviewers. Each reviewer can give a score within the range of 0-10 points. The system has two functions.</p>
          <p>The first function is to upload a CSV file that contains the following attributes: "Name, Assignment, Name of reviewer 1, score 1, Name of reviewer 2, score 2, Name of reviewer 3 and score 3." The data type for each attribute should only be "String" for name and "int" for score and assignment.</p>
          <p>The second function of the system involves pulling data from Mango API. To access this function, you will need to provide a course ID, assignment ID, rubric ID, and professor's token.</p>
        </div>
        <div class="grid-button">
          <button class="homebtn" onclick="window.location.href='/upload'">
            Upload File .csv
          </button>
          <button class="homebtn" onclick="window.location.href='/api'">
            Mango API
          </button>
        </div>
      </div>
    </div>

    <script></script>
  </body>
</html>
