<html>
  <head>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <!-- <div class="homebody"> -->
    <div class="left">photo</div>
    <!-- </div> -->
    <div class="content">
      <div style="text-align: center">
        <div>
          <span style="font-size: 30px; color: #088f8f"
            >LMS PEER REVIEW CHECKER</span
          >
        </div>
        <div style="padding: 20px 10px 20px 10px">
          <span style="font-size: 20px; color: #161616"
            >Import marking data from LMS for analyses. Display analysis results
            and suggestions.</span
          >
        </div>
        <div style="display: flex; justify-content: center">
          <button class="homebtn" onclick="window.location.href='/upload'">
            Upload File .csv
          </button>
          <button class="homebtn" onclick="window.location.href='/api'">
            API
          </button>
        </div>
      </div>
    </div>
    <script></script>
  </body>
</html>
