<html>
  <head>
    <link rel="stylesheet" href="/static/style.css" />
    <!-- เชื่อมโยงกับไฟล์ style.css -->
  </head>
  <body>
    <div class="head">
      <div class="step">
        <div class="circle process">1</div>
        <div class="line-pad">
          <div class="line"></div>
        </div>
      </div>

      <div class="step">
        <div class="circle">2</div>
        <div class="line-pad">
          <div class="line"></div>
        </div>
      </div>

      <div class="step">
        <div class="circle">3</div>
      </div>
    </div>

    <form enctype="multipart/form-data" action="/upload" method="post">
      <p>File: <input type="file" name="file" /></p>
      <p><input type="submit" value="Upload" /></p>
    </form>
    <a href="/processing">process</a>
  </body>
</html>
